<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approved Claim Request</title>
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <!--<![endif]-->
    <style type="text/css">
        /* Import Playfair Display font for email clients that support it */
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
        
        /* Fallback font stack */
        @font-face {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgEM86xQ.woff2) format('woff2');
        }
        
        @font-face {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5j5hNKc.woff2) format('woff2');
        }
        
        /* Basic reset */
        body, p, h1, h2, h3, h4, h5, h6, table, td, div, a, span {
            margin: 0;
            padding: 0;
        }
        
        body, p, td, div, a, span {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Playfair Display', serif !important;
            letter-spacing: -0.5px;
            font-weight: 500;
        }
        /* Main styles */
        body {
            background-color: #f4f4f4;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        
        .email-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #000;
            position: relative;
        }
        
        
        .logo {
            max-width: 180px;
            padding: 20px 0;
            margin-top: 40px;
        }
        .content-wrapper {
            padding: 40px;
            background-color: #000;
        }
        .content {
            padding: 40px 30px;
            text-align: center;
            background-color: #F8F6F0;
            width: 100%;
            max-width: calc(100% - 120px);
            margin: 0 auto;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
            display: inline-block;
        }
        
        .main-title {
            font-size: 34px;
            color: #000000;
            margin-bottom: 20px;
            line-height: 1.4;
        }
        h2{
            font-size: 24px;
        }
        
        .welcome-text {
            color: #666666;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 25px;
        }
        
        .features-container {
            display: inline-block;
            width: 100%;
            margin: 20px 0;
            text-align: center;
        }
        
        .feature-box {
            display: inline-block;
            width: 90%;
            vertical-align: top;
            margin: 0 1.5%;
            padding: 15px 0;
            border: 1px solid rgba(198, 163, 99, 0.50);
            border-radius: 5px;
            background-color: #fff;
            min-height: 160px;
        }
        
        .feature-box svg {
            width: 40px;
            height: 40px;
            margin: 0 auto 10px;
            display: block;
            color: #8b6d40;
            margin-left: 10px;
        }
        
        .feature-title {
            font-size: 14px;
            color: #666666;
            padding: 0 10px;
            line-height: 1.4;
        }
        
        .no-login {
            font-family: 'Playfair Display', Georgia, serif !important;
            margin: 25px 0 15px;
        }
        
        .link-instruction {
            color: #666666;
            font-size: 14px;
            margin-bottom: 15px;
        }
        
        .cta-button {
            display: block;
            background-color: #c9a86b;
            color: #ffffff !important;
            text-decoration: none;
            padding: 15px 20px;
            margin: 20px auto;
            max-width: 300px;
            text-align: center;
            border-radius: 3px;
        }
        
        .divider {
            height: 1px;
            background-color: #e0e0e0;
            margin: 30px 0;
        }
        
        .closing-title {
            font-family: 'Playfair Display', Georgia, serif !important;
            margin-bottom: 20px;
        }
        
        .closing-text {
            color: #666666;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        
        .signature {
            color: #666666;
            font-size: 16px;
            margin-top: 20px;
        }
        
        .footer {
            background-color: #333333;
            color: #ffffff;
            padding: 20px;
            text-align: center;
            font-size: 12px;
            line-height: 1.5;
        }
        
        .footer a {
            color: #ffffff;
            text-decoration: underline;
        }
        
        /* Responsive design for mobile */
        @media only screen and (max-width: 600px) {
            .feature-box {
                width: 100%;
                margin: 10px 0;
            }
            
            .content-wrapper {
                padding: 15px;
            }
            
            .main-title {
                font-size: 20px;
            }
        }
    </style>
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f4f4f4">
        <tr>
            <td align="center">
                <table class="email-container" cellpadding="0" cellspacing="0" border="0" width="600">
               
                    <!-- Logo -->
                    <tr>
                        <td align="center">
                            <div class="logo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="75" viewBox="0 0 58 75" fill="none">
                                <path d="M35.1923 0C35.1859 0.317868 35.1733 0.633617 35.1733 0.951484C35.1733 6.51205 35.1775 12.0726 35.1648 17.6332C35.1648 18.1566 35.3841 18.4957 35.791 18.7584C35.8311 18.786 35.888 18.8114 35.9049 18.8496C36.1979 19.5658 36.8642 19.9028 37.3955 20.3859C37.8719 20.8203 38.2198 21.3925 38.6815 21.8481C39.0252 22.1851 39.1897 22.7276 39.7779 22.8102C39.9866 22.8399 40.0667 23.1259 40.2291 23.2743C40.6592 23.6684 41.1293 24.088 41.4287 24.5585C41.6944 24.9781 42.076 25.2663 42.3226 25.6647C42.5609 26.0524 43.0142 26.1075 43.2925 26.4551C43.7205 26.9912 44.2771 27.3621 44.2728 28.1949C44.2433 33.8614 44.2728 39.5279 44.2328 45.1945C44.2307 45.6204 44.0409 46.1036 43.6066 46.4532C43.2904 46.7075 42.9214 47.0211 42.7633 47.3962C42.641 47.6887 42.3817 47.6251 42.2235 47.8137C41.9136 48.1803 41.7112 48.6846 41.1947 48.8584C41.0724 48.8987 41.0914 49.0301 41.1146 49.1339C41.1504 49.2971 41.2874 49.2886 41.4076 49.2907C42.0401 49.2928 42.6726 49.2865 43.3051 49.2949C43.9271 49.3013 44.2749 49.3628 44.2581 50.1701C44.218 52.1113 44.256 54.0524 44.2581 55.9956C44.2602 61.3803 44.2602 66.765 44.2623 72.1475C44.2623 72.8871 44.2665 72.8892 45.0002 72.8871C49.1789 72.8871 53.3597 72.8829 57.5385 72.8807V74.8939C54.0956 74.8875 50.6548 74.8833 47.2119 74.8791C45.2448 74.877 43.2777 74.86 41.3106 74.8918C40.8046 74.9003 40.6887 74.7159 40.6992 74.2624C40.7203 73.2219 40.7055 72.1793 40.7055 71.1367C40.7055 64.1987 40.7055 57.2607 40.7055 50.3227C40.7055 49.6573 40.3977 49.3564 39.7167 49.3543C38.768 49.3522 37.8192 49.3585 36.8726 49.35C36.628 49.3479 36.3835 49.3161 36.141 49.278C35.8817 49.2356 35.8606 49.0152 36.0124 48.9008C36.685 48.3964 37.2184 47.7416 37.8298 47.1758C38.4307 46.6206 38.9324 45.9234 39.5439 45.3597C39.8917 45.0398 40.17 44.6477 40.5495 44.3701C40.7604 44.2175 40.6866 44.0183 40.6887 43.8467C40.7034 42.5752 40.6971 41.3037 40.6971 40.0344C40.6971 35.8152 40.6908 31.5961 40.7034 27.3769C40.7034 26.7857 40.5643 26.3746 40.052 25.9825C39.4975 25.5566 39.0821 24.9378 38.6415 24.3762C38.3843 24.0478 37.9563 23.9418 37.7307 23.6006C37.5473 23.323 37.2057 23.2065 37.0961 22.842C36.9822 22.469 36.6344 22.2147 36.316 22.0452C35.9744 21.8651 35.7657 21.5875 35.5233 21.3289C35.46 21.2611 35.42 21.1933 35.323 21.2081C35.2154 21.2251 35.1902 21.3099 35.1859 21.401C35.1796 21.5959 35.1754 21.7888 35.1754 21.9837C35.1754 26.4508 35.1627 30.9179 35.1859 35.3829C35.1902 36.0865 35.1121 36.8282 34.682 37.2923C34.3004 37.7012 34.0327 38.3518 33.3538 38.4493C33.28 38.4599 33.2125 38.4917 33.2062 38.5722C33.143 39.2122 32.4008 39.3393 32.2153 39.8945C32.19 39.9666 31.9749 39.9835 32.0319 40.1488C32.093 40.3268 32.2659 40.276 32.3966 40.2781C33.1345 40.2866 33.8746 40.3141 34.6083 40.2739C35.0911 40.2463 35.1859 40.4201 35.1859 40.8736C35.1733 51.9248 35.1775 62.976 35.1754 74.0293C35.1754 74.2031 35.1438 74.3768 35.1269 74.5506C35.0889 74.9511 34.8275 75.0634 34.4986 74.9681C34.1318 74.86 33.7691 74.8876 33.4044 74.8876C22.4453 74.8876 11.4862 74.8876 0.527083 74.8876C0.352091 74.8876 0.1771 74.896 0 74.9003V72.8871C4.37057 72.8871 8.74325 72.885 13.1138 72.8998C13.5018 72.8998 13.643 72.7981 13.6283 72.4018C13.603 71.7682 13.624 71.1325 13.624 70.4967C13.624 60.2783 13.6283 50.0621 13.6135 39.8437C13.6135 39.2758 13.8834 38.977 14.2818 38.6506C14.6044 38.3857 14.8869 38.0297 15.1273 37.6949C15.2875 37.4724 15.5152 37.288 15.6818 37.1566C16.1013 36.8303 16.3564 36.3577 16.7676 36.0589C17.1871 35.7517 17.3895 35.2261 17.8997 35.0142C18.0916 34.9337 18.0832 34.6518 18.2645 34.4844C18.6651 34.1157 19.0319 33.7003 19.4704 33.3719C19.6981 33.2024 19.5337 32.8781 19.8331 32.7256C20.4972 32.3865 20.9526 31.7677 21.5113 31.2888C21.9203 30.9391 22.2281 30.4539 22.6624 30.1C22.8438 29.9516 22.751 29.6995 22.751 29.4939C22.7594 24.3402 22.7615 19.1886 22.7658 14.0349C22.7658 13.7531 22.7995 13.4649 22.7594 13.1894C22.6667 12.5282 22.9724 12.1277 23.4742 11.7314C23.9802 11.3309 24.406 10.8223 24.8235 10.3138C24.99 10.1103 25.1671 9.76702 25.5382 9.70768C25.6668 9.68649 25.8755 9.49365 25.865 9.39829C25.8165 8.96175 26.2213 8.84944 26.4216 8.66932C26.8454 8.28787 27.2523 7.91915 27.5453 7.41692C27.636 7.26222 27.87 7.16686 28.0324 7.03759C28.4688 6.6943 28.7703 6.22173 29.1941 5.88903C29.5778 5.58812 29.8055 5.16005 30.1892 4.86338C30.5139 4.6112 30.7964 4.2891 31.0494 3.96063C31.3846 3.52198 31.9012 3.25709 32.2026 2.82902C32.5885 2.28017 33.3243 2.08521 33.5414 1.37743C33.6026 1.17823 33.9884 1.21849 34.1001 0.96208C34.2583 0.597592 34.739 0.45773 34.7748 0.00423824C34.9161 0.00423824 35.0552 0.00423824 35.1965 0.00423824L35.1923 0ZM31.5406 56.5127C31.5406 51.3229 31.5343 46.1353 31.5512 40.9456C31.5512 40.4731 31.4458 40.2993 30.944 40.3162C29.6642 40.3607 28.3823 40.348 27.1005 40.3544C26.9698 40.3544 26.799 40.401 26.7653 40.1955C26.7357 40.0259 26.8454 39.9857 26.9782 39.8988C27.1975 39.7568 27.3577 39.5237 27.5538 39.3393C27.8995 39.013 28.1546 38.5892 28.5046 38.2713C28.9537 37.8644 29.4871 37.536 29.6895 36.9278C29.8034 36.5887 30.1639 36.7413 30.3157 36.54C30.5624 36.2052 30.8386 35.9212 31.1928 35.6881C31.4521 35.5186 31.625 35.2537 31.5997 34.8849C31.5575 34.2873 31.547 33.6876 31.547 33.0879C31.5448 24.4038 31.5448 15.7196 31.547 7.03547C31.547 6.82356 31.5638 6.61165 31.568 6.40186C31.5723 6.12425 31.2665 6.09671 31.2286 6.18995C31.1042 6.4951 30.6214 6.51841 30.7078 7.01428C30.7943 7.51228 29.9952 7.0821 29.9573 7.57797C29.9531 7.62671 29.9278 7.68604 29.894 7.71783C29.7464 7.84922 29.6937 8.08444 29.4218 8.08232C29.2826 8.08232 29.1856 8.23066 29.0781 8.34721C28.6501 8.80706 28.4245 9.40041 27.9986 9.86662C27.6992 10.193 27.2186 10.0997 26.9571 10.568C26.6704 11.0788 25.9873 11.3818 26.3478 12.1426C26.3689 12.1849 26.3499 12.2464 26.3499 12.2994C26.3499 25.0607 26.3478 37.8199 26.3605 50.5813C26.3605 51.1047 26.2023 51.484 25.8186 51.8103C25.1503 52.3804 24.4735 52.9441 23.9738 53.69C23.8389 53.8913 23.6639 54.1011 23.373 54.171C23.0694 54.2431 23.1874 54.5525 23.1684 54.7517C23.141 55.0229 23.3898 54.9657 23.5522 54.9678C24.0076 54.9763 24.4651 54.9721 24.9226 54.9721C25.8755 54.9721 26.352 55.4496 26.352 56.4046C26.352 61.6812 26.3626 66.9599 26.3394 72.2365C26.3373 72.7896 26.4996 72.9125 27.0162 72.8956C28.2095 72.8574 29.4028 72.8829 30.5982 72.8829C31.2321 72.8829 31.5491 72.5615 31.5491 71.9187C31.5491 66.7819 31.5491 61.6473 31.5491 56.5105L31.5406 56.5127ZM17.2483 55.5591C17.2483 56.6525 17.2483 57.7481 17.2483 58.8416C17.2483 63.3087 17.2567 67.7737 17.2398 72.2408C17.2398 72.7388 17.3642 72.9083 17.8829 72.8977C19.3566 72.8638 20.8324 72.8786 22.3082 72.8871C22.6308 72.8871 22.77 72.8066 22.77 72.4442C22.7594 66.7777 22.7615 61.1112 22.77 55.4446C22.77 55.0674 22.6371 54.9657 22.2851 54.9699C21.0032 54.9848 19.7213 54.9763 18.4395 54.9721C18.2286 54.9721 18.0178 54.9594 17.8091 54.9318C17.6088 54.9064 17.5666 54.7114 17.7037 54.6457C18.1295 54.4402 18.2961 53.9464 18.7894 53.7938C19.4072 53.6031 19.5105 52.8763 19.9448 52.4503C20.7565 51.6535 21.4755 50.755 22.3357 50.0027C22.7088 49.6764 22.7742 49.3183 22.7721 48.8521C22.7552 43.8213 22.7615 38.7905 22.7615 33.7597C22.7615 33.5838 22.7679 33.4058 22.7489 33.2299C22.7215 32.982 22.5823 32.9693 22.4369 33.1324C22.1417 33.4651 21.7917 33.7449 21.4881 34.067C21.2836 34.2831 21.1044 34.7324 20.6342 34.6624C20.4318 34.6328 20.4297 34.8489 20.4276 34.9676C20.4234 35.366 20.0819 35.5948 19.8731 35.7771C19.306 36.2708 18.8759 36.9235 18.2328 37.305C17.9777 37.4554 18.0536 37.7288 17.8365 37.8623C17.4549 38.0996 17.2398 38.4302 17.2398 38.9282C17.2525 44.4718 17.2483 50.0133 17.2483 55.5569V55.5591Z" fill="#C5A363"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="116" height="75" viewBox="0 0 116 75" fill="none">
                                    <path d="M0.922852 33.0441C2.11356 32.8923 2.97682 32.5737 3.51264 32.0882C4.04846 31.5724 4.31637 30.7835 4.31637 29.7214V4.41498C4.31637 3.35295 4.04846 2.5792 3.51264 2.0937C2.97682 1.57786 2.11356 1.24408 0.922852 1.09237V0.500667H14.1397C17.1463 0.500667 19.5872 1.16822 21.4626 2.50334C23.338 3.83845 24.2756 5.67423 24.2756 8.01068C24.2756 9.61888 23.71 11.0905 22.5789 12.4257C21.4477 13.7608 19.7509 14.6862 17.4886 15.2021C20.5249 15.6876 22.7724 16.6889 24.231 18.2061C25.6896 19.7233 26.4189 21.6652 26.4189 24.032C26.4189 27.0664 25.3175 29.4332 23.1147 31.1324C20.9416 32.8013 17.6821 33.6358 13.336 33.6358H0.922852V33.0441ZM9.54061 29.8125C9.54061 30.8442 9.80852 31.6027 10.3443 32.0882C10.8802 32.5434 11.7285 32.771 12.8895 32.771H13.9611C16.0151 32.771 17.6523 32.0124 18.8728 30.4952C20.123 28.978 20.7482 26.8692 20.7482 24.1686C20.7482 21.3163 19.9891 19.2074 18.4709 17.842C16.9825 16.4462 14.7202 15.7483 11.6839 15.7483H9.54061V29.8125ZM13.336 14.7924C15.1518 14.7924 16.4765 14.2614 17.31 13.1994C18.1732 12.1071 18.6049 10.514 18.6049 8.42032C18.6049 6.90314 18.337 5.61354 17.8012 4.55152C17.2951 3.4895 16.6253 2.70057 15.7918 2.18473C14.9881 1.63855 14.1546 1.36546 13.2913 1.36546H12.7109C11.6392 1.36546 10.8355 1.6082 10.2997 2.0937C9.79363 2.54885 9.54061 3.29227 9.54061 4.32395V14.7924H13.336Z" fill="white"/>
                                    <path d="M32.0307 33.0441C33.1916 32.8923 34.0251 32.5737 34.5312 32.0882C35.067 31.5724 35.3349 30.7835 35.3349 29.7214V4.41498C35.3349 3.35295 35.067 2.5792 34.5312 2.0937C34.0251 1.57786 33.1916 1.24408 32.0307 1.09237V0.500667H54.0886L54.8923 8.9665H54.2225C53.7463 6.35696 52.7044 4.44532 51.0969 3.23158C49.4895 1.9875 47.3164 1.36546 44.5778 1.36546H43.9973C41.7052 1.36546 40.5592 2.38196 40.5592 4.41498V14.4738H42.7917C44.548 14.4738 45.8578 14.4283 46.7211 14.3373C48.0309 14.2159 49.0578 13.7304 49.802 12.8808C50.5462 12.0312 51.0076 10.6961 51.1862 8.87547H51.8114V21.2556H51.1862C50.9779 19.2226 50.5016 17.7813 49.7574 16.9317C49.043 16.0517 48.0309 15.5662 46.7211 15.4752C45.828 15.4145 44.5034 15.3841 42.7471 15.3841C42.2708 15.3538 41.5415 15.3386 40.5592 15.3386V29.7214C40.5592 30.7835 40.8271 31.5572 41.3629 32.0427C41.9285 32.5282 42.8066 32.771 43.9973 32.771H45.4262C48.1946 32.771 50.3825 32.1338 51.99 30.8593C53.5974 29.5546 54.6691 27.4153 55.2049 24.4417H55.8747L55.0709 33.6358H32.0307V33.0441Z" fill="white"/>
                                    <path d="M72.3692 34.0909C70.3748 34.0909 68.3655 33.8633 66.3413 33.4082C64.3468 32.9227 62.9775 32.3613 62.2333 31.7241L61.7868 22.6211H62.4119C63.424 26.0195 64.8826 28.6291 66.7878 30.4497C68.6929 32.24 70.7915 33.1351 73.0837 33.1351C74.959 33.1351 76.3879 32.6192 77.3702 31.5876C78.3823 30.5255 78.8884 29.0842 78.8884 27.2636C78.8884 25.9285 78.5163 24.7148 77.7721 23.6224C77.0576 22.4997 76.1646 21.5287 75.093 20.7094C74.0213 19.8902 72.5776 18.904 70.7618 17.7509C68.9459 16.6282 67.4873 15.6421 66.3859 14.7924C65.2845 13.9428 64.3617 12.9567 63.6175 11.834C62.8733 10.7113 62.5012 9.46717 62.5012 8.10171C62.5012 6.55419 62.8882 5.17356 63.6622 3.95983C64.4659 2.71574 65.5971 1.74475 67.0557 1.04685C68.5441 0.34895 70.2706 0 72.2353 0C74.0511 0 75.7479 0.212404 77.3256 0.637213C78.933 1.06202 80.1684 1.62338 81.0316 2.32128L81.4782 9.74026H80.853C79.7814 6.7666 78.4567 4.55152 76.879 3.09504C75.3311 1.63855 73.6641 0.910304 71.8781 0.910304C70.6278 0.910304 69.5711 1.3958 68.7078 2.36679C67.8743 3.33778 67.4576 4.50601 67.4576 5.87147C67.4576 6.93349 67.7701 7.90448 68.3952 8.78444C69.0204 9.6644 69.8092 10.4685 70.7618 11.1967C71.7143 11.8946 72.9795 12.7443 74.5572 13.7456C76.4921 14.9897 78.04 16.082 79.2009 17.0227C80.3916 17.933 81.4037 19.0405 82.2372 20.3453C83.0707 21.6501 83.4875 23.1369 83.4875 24.8058C83.4875 27.5671 82.5647 29.8125 80.7191 31.5421C78.8735 33.2413 76.0902 34.0909 72.3692 34.0909Z" fill="white"/>
                                    <path d="M90.5037 0.500667H115.017L116 9.51268H115.375C114.69 6.78177 113.559 4.73358 111.981 3.36813C110.433 1.97233 108.469 1.27443 106.087 1.27443H105.373V29.9035C105.373 30.9048 105.655 31.6483 106.221 32.1338C106.787 32.6192 107.68 32.9227 108.9 33.0441V33.6358H96.7549V33.0441C97.9456 32.8923 98.8089 32.5889 99.3447 32.1338C99.8805 31.6483 100.148 30.9048 100.148 29.9035V1.27443H99.434C97.0824 1.27443 95.1177 1.97233 93.54 3.36813C91.9623 4.76393 90.8312 6.81211 90.1465 9.51268H89.5214L90.5037 0.500667Z" fill="white"/>
                                    <path d="M0.922852 55.7862C1.5426 55.7089 1.99193 55.5466 2.27081 55.2992C2.5497 55.0364 2.68915 54.6344 2.68915 54.0933V41.199C2.68915 40.6579 2.5497 40.2637 2.27081 40.0163C1.99193 39.7534 1.5426 39.5834 0.922852 39.5061V39.2046H7.80211C9.36699 39.2046 10.6375 39.5447 11.6136 40.225C12.5897 40.9053 13.0778 41.8406 13.0778 43.0311C13.0778 43.8505 12.7834 44.6004 12.1946 45.2807C11.6058 45.9609 10.7227 46.4325 9.54517 46.6953C11.1255 46.9427 12.2953 47.4529 13.0545 48.2259C13.8137 48.999 14.1933 49.9884 14.1933 51.1944C14.1933 52.7405 13.62 53.9464 12.4735 54.8122C11.3425 55.6625 9.64588 56.0877 7.38378 56.0877H0.922852V55.7862ZM5.40832 54.1397C5.40832 54.6653 5.54776 55.0518 5.82665 55.2992C6.10554 55.5311 6.54711 55.6471 7.15137 55.6471H7.70915C8.77822 55.6471 9.63039 55.2606 10.2656 54.4875C10.9164 53.7145 11.2417 52.64 11.2417 51.264C11.2417 49.8107 10.8467 48.7361 10.0565 48.0404C9.28177 47.3292 8.10424 46.9736 6.52387 46.9736H5.40832V54.1397ZM7.38378 46.4866C8.3289 46.4866 9.01838 46.216 9.45221 45.6749C9.90153 45.1183 10.1262 44.3066 10.1262 43.2398C10.1262 42.4668 9.98674 41.8097 9.70785 41.2686C9.44446 40.7275 9.09585 40.3255 8.66202 40.0627C8.24369 39.7844 7.80986 39.6452 7.36054 39.6452H7.05841C6.50063 39.6452 6.0823 39.7689 5.80341 40.0163C5.54001 40.2482 5.40832 40.627 5.40832 41.1526V46.4866H7.38378Z" fill="white"/>
                                    <path d="M16.6494 55.7862C17.2691 55.7089 17.7185 55.5466 17.9974 55.2992C18.2762 55.0518 18.4157 54.6576 18.4157 54.1165V41.199C18.4157 40.6579 18.2762 40.2637 17.9974 40.0163C17.7185 39.7534 17.2691 39.5834 16.6494 39.5061V39.2046H24.0864C25.7443 39.2046 27.0612 39.5756 28.0374 40.3178C29.0135 41.0599 29.5015 42.0571 29.5015 43.3094C29.5015 44.2834 29.1064 45.1183 28.3162 45.8141C27.5261 46.5098 26.4957 46.9813 25.2252 47.2287L29.1064 53.6526C29.5403 54.3793 29.9663 54.8972 30.3847 55.2064C30.803 55.5157 31.3298 55.7012 31.965 55.763V56.0877C31.2988 56.1959 30.6481 56.25 30.0128 56.25C29.0212 56.25 28.1923 56.0722 27.5261 55.7167C26.8753 55.3456 26.3175 54.7504 25.8527 53.9309L23.0406 48.9217C22.4983 47.9631 21.9638 47.4838 21.437 47.4838H21.1349V54.1165C21.1349 54.6731 21.2975 55.075 21.6229 55.3224C21.9483 55.5698 22.5138 55.7244 23.3195 55.7862V56.0877H16.6494V55.7862ZM21.4602 47.02C22.7152 47.02 23.7146 46.8963 24.4583 46.6489C25.202 46.4016 25.7365 46.0228 26.0619 45.5126C26.3873 45.0024 26.55 44.3221 26.55 43.4718C26.55 42.2813 26.2633 41.3459 25.69 40.6656C25.1323 39.9854 24.4118 39.6452 23.5287 39.6452H22.8082C22.2504 39.6452 21.8321 39.7689 21.5532 40.0163C21.2743 40.2482 21.1349 40.6424 21.1349 41.199V47.02H21.4602Z" fill="white"/>
                                    <path d="M34.1851 55.7862C34.7274 55.7244 35.2077 55.5311 35.626 55.2064C36.0598 54.8663 36.4394 54.302 36.7648 53.5135C37.462 51.7819 38.5001 48.9139 39.8791 44.9096C40.7932 42.3277 41.4672 40.426 41.901 39.2046H42.2729L47.5485 53.6758C47.7964 54.387 48.114 54.905 48.5014 55.2296C48.9042 55.5543 49.3768 55.7398 49.9191 55.7862V56.0877H42.2031V55.7862C43.0863 55.7244 43.7138 55.6007 44.0856 55.4152C44.4575 55.2296 44.6434 54.9436 44.6434 54.5571C44.6434 54.3252 44.5892 54.0546 44.4807 53.7454L43.7603 51.5654H38.0895L37.5317 53.4207C37.4233 53.7918 37.3691 54.1242 37.3691 54.4179C37.3691 54.8508 37.524 55.1755 37.8339 55.392C38.1592 55.593 38.6938 55.7244 39.4375 55.7862V56.0877H34.1851V55.7862ZM43.5976 51.0784L40.9714 43.2862C39.8403 46.332 38.9339 48.9294 38.2522 51.0784H43.5976Z" fill="white"/>
                                    <path d="M52.2515 55.7862C52.8248 55.7244 53.2508 55.5234 53.5297 55.1833C53.8241 54.8277 53.9945 54.2402 54.041 53.4207C54.1185 52.1684 54.1572 50.5528 54.1572 48.5738C54.1572 47.1359 54.1495 46.0537 54.134 45.327L54.1108 41.8948V40.7584C54.1108 40.4183 53.9558 40.14 53.6459 39.9235C53.3361 39.7071 52.91 39.5679 52.3677 39.5061V39.2046H56.6208L64.4296 50.6146L64.4529 46.8577C64.4529 44.5695 64.4296 42.9847 64.3832 42.1035C64.3367 41.2841 64.112 40.6656 63.7092 40.2482C63.3063 39.8153 62.6943 39.5679 61.8732 39.5061V39.2046H66.9164V39.5061C66.3276 39.5679 65.8783 39.7689 65.5684 40.109C65.2741 40.4492 65.1036 40.998 65.0571 41.7556C64.9642 43.1316 64.9177 44.9251 64.9177 47.1359C64.9177 48.7748 64.9254 50.0116 64.9409 50.8465L64.9642 54.789V56.0877H64.5691L54.622 41.4077C54.653 47.7003 54.6918 51.6969 54.7383 53.3975C54.7692 54.8663 55.5362 55.6625 57.0391 55.7862V56.0877H52.2515V55.7862Z" fill="white"/>
                                    <path d="M69.4122 55.7862C70.032 55.7089 70.4813 55.5466 70.7602 55.2992C71.0391 55.0364 71.1785 54.6344 71.1785 54.0933V41.199C71.1785 40.6579 71.0391 40.2637 70.7602 40.0163C70.4813 39.7534 70.032 39.5834 69.4122 39.5061V39.2046H76.1056C77.7479 39.2046 79.1424 39.5756 80.2889 40.3178C81.451 41.0599 82.3186 42.0648 82.8919 43.3326C83.4806 44.5849 83.775 45.9841 83.775 47.5302C83.775 49.2927 83.4574 50.8156 82.8222 52.0988C82.2024 53.3821 81.296 54.3716 80.103 55.0673C78.9255 55.7476 77.5155 56.0877 75.8732 56.0877H69.4122V55.7862ZM73.8977 54.1397C73.8977 54.6653 74.0294 55.0518 74.2928 55.2992C74.5717 55.5311 74.9978 55.6471 75.571 55.6471H75.8267C76.8493 55.6471 77.7324 55.3301 78.4761 54.6962C79.2353 54.0469 79.8086 53.1424 80.196 51.9829C80.5988 50.8233 80.8002 49.4782 80.8002 47.9476C80.8002 45.1647 80.3509 43.0852 79.4523 41.7092C78.5536 40.3332 77.3296 39.6452 75.7802 39.6452H75.571C74.9978 39.6452 74.5717 39.7689 74.2928 40.0163C74.0294 40.2482 73.8977 40.627 73.8977 41.1526V54.1397Z" fill="white"/>
                                    <path d="M86.3871 55.7862C86.9913 55.7089 87.4252 55.5466 87.6886 55.2992C87.9674 55.0364 88.1069 54.6344 88.1069 54.0933V41.199C88.1069 40.6579 87.9674 40.2637 87.6886 40.0163C87.4252 39.7534 86.9913 39.5834 86.3871 39.5061V39.2046H97.868L98.2863 43.5181H97.9377C97.6898 42.1885 97.1475 41.2145 96.3109 40.5961C95.4742 39.9622 94.3432 39.6452 92.9177 39.6452H92.6156C91.4226 39.6452 90.826 40.1632 90.826 41.199V46.3243H91.9881C92.9022 46.3243 93.584 46.3011 94.0333 46.2547C94.715 46.1928 95.2495 45.9455 95.6369 45.5126C96.0242 45.0797 96.2644 44.3994 96.3573 43.4718H96.6827V49.7797H96.3573C96.2489 48.7439 96.001 48.0095 95.6136 47.5766C95.2418 47.1282 94.715 46.8808 94.0333 46.8345C93.5685 46.8035 92.879 46.7881 91.9648 46.7881C91.7169 46.7726 91.3373 46.7649 90.826 46.7649V54.0933C90.826 54.6344 90.9655 55.0286 91.2444 55.276C91.5388 55.5234 91.9958 55.6471 92.6156 55.6471H93.3593C94.8002 55.6471 95.939 55.3224 96.7757 54.6731C97.6123 54.0082 98.1701 52.9183 98.449 51.4031H98.7976L98.3793 56.0877H86.3871V55.7862Z" fill="white"/>
                                    <path d="M101.637 55.7862C102.257 55.7089 102.706 55.5466 102.985 55.2992C103.264 55.0364 103.403 54.6344 103.403 54.0933V41.199C103.403 40.6579 103.264 40.2637 102.985 40.0163C102.706 39.7534 102.257 39.5834 101.637 39.5061V39.2046H108.33C109.973 39.2046 111.367 39.5756 112.514 40.3178C113.676 41.0599 114.543 42.0648 115.117 43.3326C115.705 44.5849 116 45.9841 116 47.5302C116 49.2927 115.682 50.8156 115.047 52.0988C114.427 53.3821 113.521 54.3716 112.328 55.0673C111.15 55.7476 109.74 56.0877 108.098 56.0877H101.637V55.7862ZM106.122 54.1397C106.122 54.6653 106.254 55.0518 106.518 55.2992C106.796 55.5311 107.223 55.6471 107.796 55.6471H108.051C109.074 55.6471 109.957 55.3301 110.701 54.6962C111.46 54.0469 112.033 53.1424 112.421 51.9829C112.824 50.8233 113.025 49.4782 113.025 47.9476C113.025 45.1647 112.576 43.0852 111.677 41.7092C110.778 40.3332 109.554 39.6452 108.005 39.6452H107.796C107.223 39.6452 106.796 39.7689 106.518 40.0163C106.254 40.2482 106.122 40.627 106.122 41.1526V54.1397Z" fill="white"/>
                                    <path d="M0.922852 74.5811C1.40922 74.5205 1.76183 74.393 1.98069 74.1988C2.19956 74.0046 2.30899 73.6951 2.30899 73.2703V63.1295C2.30899 62.7047 2.19956 62.3952 1.98069 62.201C1.76183 61.9947 1.40922 61.8612 0.922852 61.8005V61.5638H6.75921C8.06024 61.5638 9.09376 61.8551 9.85978 62.4377C10.6258 63.0203 11.0088 63.8031 11.0088 64.7863C11.0088 65.5509 10.6988 66.2063 10.0786 66.7525C9.45853 67.2987 8.64995 67.6689 7.65291 67.8631L10.6988 72.9062C11.0392 73.4766 11.3736 73.8833 11.7019 74.126C12.0302 74.3687 12.4436 74.5144 12.9421 74.5629V74.8178C12.4193 74.9028 11.9086 74.9453 11.4101 74.9453C10.6319 74.9453 9.98137 74.8057 9.45853 74.5265C8.94785 74.2352 8.51012 73.7679 8.14535 73.1247L5.93847 69.1921C5.51291 68.4396 5.09342 68.0634 4.68001 68.0634H4.44291V73.2703C4.44291 73.7073 4.57058 74.0228 4.82592 74.217C5.08126 74.4112 5.52507 74.5326 6.15734 74.5811V74.8178H0.922852V74.5811ZM4.69825 67.6992C5.68313 67.6992 6.4674 67.6021 7.05103 67.4079C7.63467 67.2138 8.05416 66.9164 8.3095 66.5158C8.56484 66.1153 8.69251 65.5813 8.69251 64.9137C8.69251 63.9791 8.46756 63.2448 8.01768 62.7108C7.57995 62.1767 7.01455 61.9097 6.32149 61.9097H5.75609C5.31836 61.9097 4.99007 62.0068 4.7712 62.201C4.55234 62.3831 4.44291 62.6926 4.44291 63.1295V67.6992H4.69825Z" fill="white"/>
                                    <path d="M14.9032 74.5811C15.3774 74.5205 15.7178 74.393 15.9246 74.1988C16.1434 73.9925 16.2528 73.6769 16.2528 73.2521V63.1295C16.2528 62.7047 16.1434 62.3952 15.9246 62.201C15.7178 61.9947 15.3774 61.8612 14.9032 61.8005V61.5638H23.9131L24.2414 64.9501H23.9678C23.7732 63.9063 23.3477 63.1417 22.6911 62.6562C22.0345 62.1585 21.1469 61.9097 20.0282 61.9097H19.7911C18.8549 61.9097 18.3868 62.3163 18.3868 63.1295V67.1531H19.2987C20.0161 67.1531 20.5511 67.1349 20.9037 67.0984C21.4387 67.0499 21.8582 66.8557 22.1622 66.5158C22.4661 66.176 22.6546 65.642 22.7276 64.9137H22.9829V69.8658H22.7276C22.6424 69.0526 22.4479 68.476 22.1439 68.1362C21.8521 67.7842 21.4387 67.59 20.9037 67.5536C20.5389 67.5293 19.9978 67.5172 19.2805 67.5172C19.0859 67.505 18.788 67.499 18.3868 67.499V73.2521C18.3868 73.6769 18.4962 73.9864 18.7151 74.1806C18.9461 74.3748 19.3048 74.4719 19.7911 74.4719H20.3748C21.5056 74.4719 22.3993 74.217 23.0559 73.7073C23.7124 73.1853 24.1502 72.3297 24.369 71.1402H24.6426L24.3143 74.8178H14.9032V74.5811Z" fill="white"/>
                                    <path d="M31.0153 74.9999C30.2006 74.9999 29.3799 74.9089 28.5531 74.7268C27.7384 74.5326 27.1791 74.3081 26.8751 74.0532L26.6928 70.412H26.9481C27.3615 71.7713 27.9573 72.8152 28.7355 73.5434C29.5137 74.2595 30.3709 74.6176 31.3071 74.6176C32.0731 74.6176 32.6568 74.4112 33.058 73.9986C33.4714 73.5737 33.6781 72.9972 33.6781 72.269C33.6781 71.7349 33.5262 71.2494 33.2222 70.8125C32.9304 70.3634 32.5656 69.975 32.1279 69.6473C31.6901 69.3196 31.1004 68.9251 30.3587 68.4639C29.617 68.0148 29.0212 67.6204 28.5713 67.2805C28.1214 66.9407 27.7445 66.5462 27.4405 66.0971C27.1366 65.648 26.9846 65.1504 26.9846 64.6042C26.9846 63.9852 27.1426 63.433 27.4588 62.9475C27.7871 62.4498 28.2491 62.0614 28.8449 61.7823C29.4529 61.5031 30.1581 61.3635 30.9606 61.3635C31.7023 61.3635 32.3954 61.4485 33.0398 61.6184C33.6964 61.7883 34.201 62.0129 34.5536 62.292L34.736 65.2596H34.4806C34.0429 64.0702 33.5018 63.1841 32.8574 62.6015C32.2251 62.0189 31.5442 61.7276 30.8147 61.7276C30.304 61.7276 29.8724 61.9218 29.5197 62.3102C29.1793 62.6986 29.0091 63.1659 29.0091 63.7121C29.0091 64.1369 29.1367 64.5253 29.3921 64.8773C29.6474 65.2293 29.9696 65.5509 30.3587 65.8422C30.7478 66.1214 31.2646 66.4612 31.909 66.8618C32.6993 67.3594 33.3316 67.7963 33.8058 68.1726C34.2922 68.5367 34.7056 68.9797 35.046 69.5016C35.3865 70.0236 35.5567 70.6183 35.5567 71.2858C35.5567 72.3903 35.1798 73.2885 34.4259 73.9803C33.6721 74.66 32.5352 74.9999 31.0153 74.9999Z" fill="white"/>
                                    <path d="M37.7521 74.5811C38.2384 74.5205 38.591 74.3991 38.8099 74.217C39.0288 74.0228 39.1382 73.7255 39.1382 73.3249V63.0567C39.1382 62.6562 39.0288 62.3649 38.8099 62.1828C38.591 61.9886 38.2384 61.8612 37.7521 61.8005V61.5638H42.713V61.8005C42.2144 61.849 41.8497 61.9704 41.6186 62.1646C41.3876 62.3588 41.2721 62.6562 41.2721 63.0567V73.3249C41.2721 73.7255 41.3876 74.0228 41.6186 74.217C41.8497 74.4112 42.2144 74.5326 42.713 74.5811V74.8178H37.7521V74.5811Z" fill="white"/>
                                    <path d="M44.8929 74.5811C45.3793 74.5205 45.7319 74.393 45.9507 74.1988C46.1696 73.9925 46.279 73.6769 46.279 73.2521V63.1295C46.279 62.7047 46.1696 62.3952 45.9507 62.201C45.7319 61.9947 45.3793 61.8612 44.8929 61.8005V61.5638H50.1456C51.4345 61.5638 52.5288 61.8551 53.4286 62.4377C54.3405 63.0203 55.0214 63.8092 55.4713 64.8045C55.9334 65.7876 56.1644 66.886 56.1644 68.0998C56.1644 69.4834 55.9151 70.679 55.4166 71.6864C54.9302 72.6938 54.2189 73.4706 53.2827 74.0168C52.3586 74.5508 51.2521 74.8178 49.9632 74.8178H44.8929V74.5811ZM48.413 73.2885C48.413 73.7012 48.5163 74.0046 48.723 74.1988C48.9419 74.3809 49.2763 74.4719 49.7261 74.4719H49.9268C50.7293 74.4719 51.4223 74.2231 52.006 73.7255C52.6018 73.2157 53.0517 72.5057 53.3556 71.5954C53.6718 70.685 53.8298 69.6291 53.8298 68.4275C53.8298 66.2428 53.4772 64.6103 52.772 63.5301C52.0668 62.4498 51.1062 61.9097 49.8903 61.9097H49.7261C49.2763 61.9097 48.9419 62.0068 48.723 62.201C48.5163 62.3831 48.413 62.6804 48.413 63.0931V73.2885Z" fill="white"/>
                                    <path d="M58.2142 74.5811C58.6884 74.5205 59.0289 74.393 59.2356 74.1988C59.4545 73.9925 59.5639 73.6769 59.5639 73.2521V63.1295C59.5639 62.7047 59.4545 62.3952 59.2356 62.201C59.0289 61.9947 58.6884 61.8612 58.2142 61.8005V61.5638H67.2241L67.5524 64.9501H67.2788C67.0843 63.9063 66.6587 63.1417 66.0021 62.6562C65.3455 62.1585 64.4579 61.9097 63.3393 61.9097H63.1022C62.1659 61.9097 61.6978 62.3163 61.6978 63.1295V67.1531H62.6097C63.3271 67.1531 63.8621 67.1349 64.2147 67.0984C64.7497 67.0499 65.1692 66.8557 65.4732 66.5158C65.7772 66.176 65.9656 65.642 66.0386 64.9137H66.2939V69.8658H66.0386C65.9535 69.0526 65.7589 68.476 65.455 68.1362C65.1631 67.7842 64.7497 67.59 64.2147 67.5536C63.85 67.5293 63.3089 67.5172 62.5915 67.5172C62.397 67.505 62.0991 67.499 61.6978 67.499V73.2521C61.6978 73.6769 61.8072 73.9864 62.0261 74.1806C62.2571 74.3748 62.6158 74.4719 63.1022 74.4719H63.6858C64.8166 74.4719 65.7103 74.217 66.3669 73.7073C67.0235 73.1853 67.4612 72.3297 67.6801 71.1402H67.9537L67.6254 74.8178H58.2142V74.5811Z" fill="white"/>
                                    <path d="M69.8579 74.5811C70.3078 74.5326 70.6421 74.3748 70.861 74.1078C71.092 73.8286 71.2258 73.3674 71.2623 72.7241C71.3231 71.741 71.3535 70.4726 71.3535 68.9191C71.3535 67.7903 71.3474 66.9407 71.3352 66.3702L71.317 63.6757V62.7836C71.317 62.5166 71.1954 62.2981 70.9522 62.1282C70.709 61.9583 70.3746 61.849 69.9491 61.8005V61.5638H73.2867L79.4149 70.5212L79.4332 67.5718C79.4332 65.7755 79.4149 64.5314 79.3784 63.8396C79.342 63.1963 79.1657 62.7108 78.8495 62.3831C78.5334 62.0432 78.0531 61.849 77.4087 61.8005V61.5638H81.3665V61.8005C80.9044 61.849 80.5518 62.0068 80.3086 62.2738C80.0776 62.5409 79.9438 62.9717 79.9074 63.5665C79.8344 64.6467 79.7979 66.0546 79.7979 67.7903C79.7979 69.0768 79.804 70.0478 79.8162 70.7033L79.8344 73.7983V74.8178H79.5244L71.7182 63.2934C71.7425 68.2333 71.7729 71.3708 71.8094 72.7059C71.8337 73.859 72.4356 74.4841 73.615 74.5811V74.8178H69.8579V74.5811Z" fill="white"/>
                                    <path d="M89.1615 74.9999C88.0793 74.9999 87.1066 74.7329 86.2433 74.1988C85.3922 73.6648 84.7234 72.8758 84.2371 71.832C83.7507 70.7882 83.5075 69.532 83.5075 68.0634C83.5075 66.6918 83.7568 65.5024 84.2553 64.495C84.766 63.4754 85.459 62.6986 86.3345 62.1646C87.2221 61.6305 88.2252 61.3635 89.3439 61.3635C90.7057 61.3635 91.873 61.6002 92.8457 62.0736L93.0281 65.642H92.7727C92.3593 64.2219 91.8608 63.2145 91.2772 62.6197C90.6935 62.025 89.9822 61.7276 89.1432 61.7276C88.4745 61.7276 87.8909 61.9825 87.3923 62.4923C86.8938 63.0021 86.5108 63.7303 86.2433 64.677C85.9758 65.6116 85.8421 66.71 85.8421 67.9723C85.8421 69.3196 86.0062 70.4666 86.3345 71.4133C86.6628 72.36 87.1248 73.0761 87.7206 73.5616C88.3286 74.035 89.0338 74.2716 89.8363 74.2716C90.5051 74.2716 91.1191 74.1321 91.6784 73.8529C92.2377 73.5737 92.7667 73.064 93.2652 72.3236L93.5205 72.4874C93.022 73.3492 92.408 73.9864 91.6784 74.3991C90.961 74.7996 90.1221 74.9999 89.1615 74.9999Z" fill="white"/>
                                    <path d="M95.3462 74.5811C95.8204 74.5205 96.1609 74.393 96.3676 74.1988C96.5865 73.9925 96.6959 73.6769 96.6959 73.2521V63.1295C96.6959 62.7047 96.5865 62.3952 96.3676 62.201C96.1609 61.9947 95.8204 61.8612 95.3462 61.8005V61.5638H104.356L104.684 64.9501H104.411C104.216 63.9063 103.791 63.1417 103.134 62.6562C102.478 62.1585 101.59 61.9097 100.471 61.9097H100.234C99.2979 61.9097 98.8298 62.3163 98.8298 63.1295V67.1531H99.7417C100.459 67.1531 100.994 67.1349 101.347 67.0984C101.882 67.0499 102.301 66.8557 102.605 66.5158C102.909 66.176 103.098 65.642 103.171 64.9137H103.426V69.8658H103.171C103.085 69.0526 102.891 68.476 102.587 68.1362C102.295 67.7842 101.882 67.59 101.347 67.5536C100.982 67.5293 100.441 67.5172 99.7235 67.5172C99.529 67.505 99.2311 67.499 98.8298 67.499V73.2521C98.8298 73.6769 98.9392 73.9864 99.1581 74.1806C99.3891 74.3748 99.7478 74.4719 100.234 74.4719H100.818C101.949 74.4719 102.842 74.217 103.499 73.7073C104.155 73.1853 104.593 72.3297 104.812 71.1402H105.086L104.757 74.8178H95.3462V74.5811Z" fill="white"/>
                                    <path d="M111.458 74.9999C110.644 74.9999 109.823 74.9089 108.996 74.7268C108.181 74.5326 107.622 74.3081 107.318 74.0532L107.136 70.412H107.391C107.805 71.7713 108.4 72.8152 109.179 73.5434C109.957 74.2595 110.814 74.6176 111.75 74.6176C112.516 74.6176 113.1 74.4112 113.501 73.9986C113.914 73.5737 114.121 72.9972 114.121 72.269C114.121 71.7349 113.969 71.2494 113.665 70.8125C113.373 70.3634 113.009 69.975 112.571 69.6473C112.133 69.3196 111.543 68.9251 110.802 68.4639C110.06 68.0148 109.464 67.6204 109.014 67.2805C108.564 66.9407 108.188 66.5462 107.884 66.0971C107.58 65.648 107.428 65.1504 107.428 64.6042C107.428 63.9852 107.586 63.433 107.902 62.9475C108.23 62.4498 108.692 62.0614 109.288 61.7823C109.896 61.5031 110.601 61.3635 111.404 61.3635C112.145 61.3635 112.838 61.4485 113.483 61.6184C114.139 61.7883 114.644 62.0129 114.997 62.292L115.179 65.2596H114.924C114.486 64.0702 113.945 63.1841 113.3 62.6015C112.668 62.0189 111.987 61.7276 111.258 61.7276C110.747 61.7276 110.315 61.9218 109.963 62.3102C109.622 62.6986 109.452 63.1659 109.452 63.7121C109.452 64.1369 109.58 64.5253 109.835 64.8773C110.09 65.2293 110.413 65.5509 110.802 65.8422C111.191 66.1214 111.708 66.4612 112.352 66.8618C113.142 67.3594 113.775 67.7963 114.249 68.1726C114.735 68.5367 115.149 68.9797 115.489 69.5016C115.83 70.0236 116 70.6183 116 71.2858C116 72.3903 115.623 73.2885 114.869 73.9803C114.115 74.66 112.978 74.9999 111.458 74.9999Z" fill="white"/>
                                  </svg>
                            </div>
                        </td>
                    </tr>
                    
                    <!-- Main Content -->
                    <tr class="content-wrapper">
                        <td class="content">
                            <h1 class="main-title">Welcome to Your Exclusive Residence Ownership</h1>
                            
                            <p class="welcome-text">Dear, {{name}}<br>
                                We are pleased to inform you that your claim request for {{residence}} has been successfully processed, and you are now officially recognized as its owner within our exclusive network.
                            </p>

                            <p class="welcome-text">As an esteemed property owner, you now have access to personalized management features and the ability to curate your residence’s profile. Should you require any assistance or have any preferences regarding your listing, our dedicated support team is at your disposal.</p>

                            <p class="welcome-text">We look forward to supporting you in making the most of your ownership experience.</p>

                            <div class="divider"></div>
                        
                            <p class="closing-text">If you did not request this email you can safely ignore it.</p>
                            
                            <p class="signature">
                                Best regards,<br>
                                The Best Branded Residences Team
                            </p>
                        </td>
                    </tr>
                    
                    <!-- Footer -->
                    <tr>
                        <td class="footer">
                            <p>You are receiving this email because you opted in via our website.</p>
                            <p>Do you want to know how to change your subscription?<br>
                            You can <a href="{{''}}">unsubscribe</a> from newsletters.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>